$main-nav-grey: rgb(175, 175, 175)
$main-nav-grey-secondary: rgb(100, 100, 100)

.MainNav
    padding: 8px
    display: flex
    flex-direction: row
    justify-content: flex-start
    background-color: $main-nav-grey
    border-bottom: 2px solid $main-nav-grey-secondary
    
    ul
        column-gap: 40px

    li 
        padding-bottom: 2px

    li:hover
        padding-bottom: 0px
        border-bottom: 2px solid black

    a
        font-family: Arial Narrow, sans-serif
        color: white

    #products-services-list
        flex: 3
        list-style: none
        display: flex
        flex-direction: row

    #profile-list
        flex: 2
        list-style: none
        display: flex
        flex-direction: row
        justify-content: flex-end
